version: 2.1

orbs:
  goreleaser: ory/goreleaser@0.1.30
  slack: circleci/slack@3.4.2
  docs: ory/docs@0.0.11

jobs:
  test:
    docker:
      - image: circleci/golang:1.16
        environment:
          - GO111MODULE=on
    working_directory: /go/src/github.com/ory/cli
    steps:
      - checkout
      - run: sudo go test -failfast ./...

  docs:
    docker:
      - image: circleci/golang:1.16
        environment:
          - GO111MODULE=on
    working_directory: /go/src/github.com/ory/cli
    steps:
      - checkout
      - run: |
          mkdir -p docs/docs
          bash <(curl -s https://raw.githubusercontent.com/ory/ci/master/src/scripts/install/git.sh)
      - run: make docs/cli
      - run: |
          docsdir=$(mktemp -d)
          git clone --depth 1 git@github.com:ory/docs.git "$docsdir"
          yes | cp -rf docs "$docsdir"
          cd "$docsdir"
          git add -A && \
            git commit -a -m "autogen(docs): regenerate ory/cli reference" --allow-empty && \
            git pull -ff && \
            git push

workflows:
  default:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
      - docs:
          filters:
            branches:
              only: master
      - goreleaser/release:
          requires:
            - test
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/

      - goreleaser/newsletter-draft:
          requires:
            - goreleaser/release
          filters:
            tags:
              only: /.*/
      - slack/approval-notification:
          message: Pending approval
          channel: release-automation
          requires:
            - goreleaser/newsletter-draft
          filters:
            tags:
              only: /.*/
      - newsletter-approval:
          type: approval
          requires:
            - goreleaser/newsletter-draft
          filters:
            tags:
              only: /.*/
      - goreleaser/newsletter-send:
          requires:
            - newsletter-approval
          filters:
            tags:
              only: /.*/
