version: 2.1

orbs:
  goreleaser: ory/goreleaser@0.1.32
  slack: circleci/slack@3.4.2
  docs: ory/docs@0.0.11

jobs:
  test:
    docker:
      - image: circleci/golang:1.16
        environment:
          - GO111MODULE=on
    working_directory: /go/src/github.com/ory/cli
    steps:
      - checkout
      - run: make test

  docs:
    docker:
      - image: circleci/golang:1.16
        environment:
          - GO111MODULE=on
    working_directory: /go/src/github.com/ory/cli
    steps:
      - checkout
      - run: .circleci/docs.sh

  npm-publish:
    docker:
      - image: cimg/node:16.8.0
    steps:
      - checkout
      - run: npm install
      - run: npm test
      - run: npm version --no-git-tag-version $CIRCLE_TAG
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      - run: npm publish --access public

workflows:
  default:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
      - docs:
          filters:
            branches:
              only: master
      - goreleaser/release:
          requires:
            - test
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/

      - npm-publish:
          requires:
            - goreleaser/release
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/

      - goreleaser/newsletter-draft:
          requires:
            - goreleaser/release
          filters:
            tags:
              only: /.*/
      - slack/approval-notification:
          message: Pending approval
          channel: release-automation
          requires:
            - goreleaser/newsletter-draft
          filters:
            tags:
              only: /.*/
      - newsletter-approval:
          type: approval
          requires:
            - goreleaser/newsletter-draft
          filters:
            tags:
              only: /.*/
      - goreleaser/newsletter-send:
          requires:
            - newsletter-approval
          filters:
            tags:
              only: /.*/
