version: 2.1

orbs:
  goreleaser: ory/goreleaser@0.1.10
  slack: circleci/slack@3.4.2

jobs:
  test:
    docker:
      - image: circleci/golang:1.14
        environment:
          - GO111MODULE=on
    working_directory: /go/src/github.com/ory/cli
    steps:
      - checkout
      - run: go test -failfast ./...

workflows:
  default:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
      - goreleaser/test:
        filters:
          tags:
            only: /.*/
      - goreleaser/release:
          requires:
            - goreleaser/test
            - test
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/

      - goreleaser/newsletter-draft:
          requires:
            - goreleaser/release
          filters:
            tags:
              only: /.*/
      - slack/approval-notification:
          message: Pending approval
          channel: release-automation
          requires:
            - goreleaser/newsletter-draft
          filters:
            tags:
              only: /.*/
      - newsletter-approval:
          type: approval
          requires:
            - goreleaser/newsletter-draft
          filters:
            tags:
              only: /.*/
      - goreleaser/newsletter-send:
          requires:
            - newsletter-approval
          filters:
            tags:
              only: /.*/
