name: Docker Image Scan
on:
  push:
    branches:
      - "master"
    tags:
      - "v*.*.*"
  pull_request:
    branches:
      - "master"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build images
        shell: bash
        run: |
          touch ory
          DOCKER_BUILDKIT=1 docker build -f .docker/Dockerfile-alpine -t oryd/ory:test-vulns .
          rm ory
      - name: Scan image
        id: scan
        uses: anchore/scan-action@v3
        with:
          image: oryd/ory:test-vulns
          fail-build: true
          severity-cutoff: high
      - name: Inspect action SARIF report
        run: cat ${{ steps.scan.outputs.sarif }}      
      - name: Upload Anchore scan SARIF report
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}