name: Unit Tests
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: "1.22"
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
      - run: npm ci
      - run: |
          go build -o ory .
          ./ory proxy https://ory-network-httpbin-ijakee5waq-ez.a.run.app --quiet --rewrite-host &
          npm run test
        env:
          ORY_API_KEY: placeholder
          ORY_PROJECT_SLUG: affectionate-archimedes-s9mkjq77k0
          ORY_CONSOLE_URL: https://console.staging.ory.dev
          ORY_ORYAPIS_URL: https://staging.oryapis.dev
          ORY_RATE_LIMIT_HEADER: ${{ secrets.ORY_RATE_LIMIT_HEADER }}
